[submodule "flask_extras"]
	path = src/flask_extras
	url = https://github.com/christabor/flask_extras.git
[submodule "src/flask_extras"]
	path = src/flask_extras
	url = https://github.com/christabor/flask_extras.git
