<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">{{ APP_NAME }}</a>
        <ul class="nav navbar-nav">
            <li class="{{ 'active' if active_nav == 'home' else '' }}">
                <a href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="{{ 'active' if active_nav == 'timeline' else '' }}">
                <a href="{{ url_for('timeline') }}">Timeline</a>
            </li>
        </ul>
    </div>
</nav>

<ol class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li>
        <a href="{{ breadcrumb.url }}" {{ 'class="active"' if loop.last }}>
            {{ breadcrumb.text }}
        </a>
    </li>
    {% endfor %}
</ol>
